@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  background: #000;
  color: #fff;
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 7s linear infinite; /* Adjust duration for speed */
}

.logo {
  transition: transform 0.3s ease, filter 0.3s ease; /* Smooth transition for scaling */
}

.logo:hover {
  transform: scale(1.1); /* Slightly increase size on hover */
}

/* New CSS for fade effect */
.fade-out {
  opacity: 1; /* Start with full opacity */
  transition: opacity 2s ease-in-out; /* Transition for opacity */
}

.fade-out-leave {
  opacity: 0; /* Target opacity for fade-out */
}

/* Mobile-specific styles */
@media (max-width: 768px) {
  body {
    font-size: 14px;  /* Adjust font size for mobile */
  }

  .logo {
    width: 50px; /* Adjust logo size for mobile */
    height: 50px;
  }

  .fade-out {
    opacity: 1;
    transition: opacity 1s ease-in-out; /* Faster fade-out on mobile */
  }

  .fade-out-leave {
    opacity: 0;
  }

  /* Adjust container layout for mobile */
  .skills-container {
    flex-direction: column;  /* Stacks items vertically */
    align-items: center;     /* Center content */
  }

  .skill-icon {
    margin-bottom: 10px;  /* Adjust margin for mobile */
  }

  /* Adjust font sizes for mobile */
  h1, h2, h3, h4, h5, h6 {
    font-size: 1.25rem;  /* Smaller headings on mobile */
  }

  p, .text-center {
    font-size: 0.875rem;  /* Adjust paragraph font size */
  }
}
